<%= form_for @event, :html => { :multipart => true } do |f| %>
<p>
	<%= f.label :name%>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :category%>
	<select name = "category">
		<option value="Social" >Social</option>
		<option value="Science" >Science</option>
		<option value="Art" >Art</option>
		<option value="Entertainment" >Entertainment</option>
		<option value="Food&Delights" >Food&Delights</option>
	</select>
</p>
<p>
	<%= f.label :start%>
	<%= f.text_field :start%>
</p>
<p>
	<%= f.label :end%>
	<%= f.text_field :end%>
</p>
<p>
	<%= f.label :total%>
	<%= f.text_field :total%>
</p>
<p>
	<%= f.label :desc%>
	<%= f.text_area :desc, :cols => 20, :rows => 10 %>
</p>
<p>
	<%= f.file_field :photo %>
</p>
<p>
	<%= f.submit "Submit"%>
</p>
<% end %>