<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>

<%= form_for @event, url: reserve_tickets_path, method: :post do |f|%>
<p>
	<%= f.label :name, 'Name'%>
	<%= @event.name %>
</p>
<p>
	<%= f.label :desc, 'Description'%>
	<%= @event.desc %>
</p>

<p>
	<%= f.label :photo_1, 'Event Photo 1'%>
	<%= image_tag (@event.photo_1), size: "160x100" %>
</p>
<p>
	<%= f.label :photo_2, 'Event Photo 2'%>
	<%= image_tag (@event.photo_2), size: "160x100" %>
</p>
<p>
	<%= f.label :photo_3, 'Event Photo 3'%>
	<%= image_tag (@event.photo_3), size: "160x100" %>
</p>

<p>
	<%= f.label :remain, "Remain Tickets"%>
	<%= @event.remain%> 
	<% if @event.remain == 3 %>
	<%= select_tag "amount", options_for_select(["1", "2", "3"])%>
	<% elsif @event.remain == 2 %>
	<%= select_tag "amount", options_for_select(["1", "2"])%>
	<% elsif  @event.remain == 1 %>
	<%= select_tag "amount", options_for_select(["1"])%>
	<% elsif @event.remain == 0%>
	<%= select_tag "amount", options_for_select(["0"])%>
	<% else %>
	<%= select_tag "amount", options_for_select(["1", "2", "3", "4"])%>
	<% end %>
	<%= f.submit "Reserve Tickets"%>
</p>
<% end %>
<label>Events Comments</label><br>
<% @comments.each do |f|%>
<%= f.content %><br>
<% end %>
<br><br><br>

<%= form_for @comment, url: add_comment_path do |f| %>
<%= f.label :content, "Comments"%>
<%= f.text_area :content, size: "30x20" %><br>
<%= f.submit "Submit Comments"%>
<% end %>
<%= link_to "Back", controller: "pages", action: "account" %>