<%= render template: 'layouts/account' %>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Event Infor
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Event Info</li>
        </ol>
    </section>
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h2 class="box-title">Event Information View</h2>
            </div><!-- /.box-header -->
<div class="box-body">
                <%= form_for @event, url: reserve_tickets_path, method: :post do |f|%>
                <div class="box-body">
                    <div class="callout callout-info">
                        <label class="text-light-blue">Event Name:</label>
                        <%= @event.name %>
                    </div>
                    <div class="callout callout-info">
                        <label class="text-light-blue">Description:</label>
                        <%= @event.desc %>
                    </div>
                    <div class="callout callout-info">
                        <label class="text-light-blue">Start Time:</label>
                        <%= @event.start %>
                    </div>
                    <div class="callout callout-info">
                        <label class="text-light-blue">End Time:</label>
                        <%= @event.end %>
                    </div>
                

                <div class="callout callout-info">
                    <div></div><label class="text-light-blue" for="exampleInputFile">Event Images</label></div>
                    <p class="help-block"></p>
                    <div class="row">
                        <div class="col-xs-4">

                            <%= image_tag (@event.photo_1), size: "270x170" %>
                        </div>
                        <div class="col-xs-4">

                            <%= image_tag (@event.photo_2), size: "270x170" %>
                        </div>
                        <div class="col-xs-4">

                            <%= image_tag (@event.photo_3), size: "270x170" %>
                        </div>
                    </div>
                </div>
                </div><br/><br/>
            <% end %>
            <div class="box-body">
            </div>
        </div>
    </div>
</aside>

