<h1>Pages#account</h1>

Common User<br/>
<%= link_to "Browse My Society" %> <br/>
<%= link_to "Browse My Event" %> <br/>
Common Club Admin<br/>
<%= link_to "Create A Society", controller: "societies", action:"new" %> <br/>
<%= link_to "Browse My Society" %> <br/>
<%= link_to "Edit My Society" %> <br/>
<%= link_to "Create An Event" %> <br/>