<h1>Societies#bearers</h1>

<%= form_for @bearer, :url => confirm_bearers_path do |f|%>
<%= f.label :first_name, "First Name"%>
<%= f.text_field :first_name%> <br/>
<%= f.label :last_name, "Last Name"%>
<%= f.text_field :last_name%><br/>
<%= f.label :phone, "Phone"%>
<%= f.text_field :phone %><br/>
<%= f.label :email, "Email"%>
<%= f.text_field :email%><br/>
<%= f.submit "Confirm"%>
<% end %>
