<h1>Societies#show</h1>
<p>Find me in app/views/societies/show.html.erb</p>
<%= form_for @society do |f|%>
<p>
	<%= f.label :name, 'Name'%>
	<%= @society.name %>
</p>
<p>
	<%= f.label :desc, 'Description'%>
	<%= @society.desc %>
</p>
<p>
	<%= f.label :regi_num, 'Registration Number' %>
	<%= @society.regi_num%>
</p>
<p>
	<%= f.label :website, 'Website'%>
	<%= @society.website%>
</p>

<p>
	<%= f.label "President"%>
	<%= @society.p_first_name%> <%= @society.p_last_name %>
</p>
<p>
	<%= f.label :p_phone, 'President Phone Number'%>
	<%= @society.p_phone%>
</p>
<p>
	<%= f.label :p_email, 'President Email'%>
	<%= @society.p_email%>
</p>
<p>
	<%= f.label :photo_1, 'Society Photo 1'%>
	<%= image_tag (@society.photo_1), size: "160x100" %>
</p>
<p>
	<%= f.label :photo_2, 'Society Photo 2'%>
	<%= image_tag (@society.photo_2), size: "160x100" %>
</p>
<p>
	<%= f.label :photo_3, 'Society Photo 3'%>
	<%= image_tag (@society.photo_3), size: "160x100" %>
</p>
<% end %>

<%= link_to "Back", controller: "pages", action: "account" %>