<!DOCTYPE html>
<html>
<head>

  <title>Club-Biz Admin</title>

</head>
<body class="skin-blue">

    <header class="header">
        <a> 
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <%= link_to "Club-Biz", root_path, class: "logo" %>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-right">
              <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <% if user_signed_in? %>
                    <span><%= current_user.full_name %></span>                               
                    <% elsif admin_signed_in?%>
                    <span><%= current_admin.email %></span>
                    <% end %>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header bg-light-blue">
                      <%= image_tag "img/avatar5.png", alt: "User Image", class: "img-circle" %>
                      <p>
                        <% if user_signed_in? %>
                        <small>Dear User</small>  
                        <%= current_user.full_name %>
                        <% elsif admin_signed_in?%>
                        <small>Dear Administrator</small>  
                        <%= current_admin.email %>
                        <% end %>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="col-xs-12 text-center">
                    <a> <% if user_signed_in? %><%= link_to "Go To My Account", my_account_path, class: "btn btn-default" %><% end %></a>
                </div>
            </li>
            <!-- Menu Footer-->

            <li class="user-footer">
              <div class="pull-left">
                <% if user_signed_in? %>
                <a><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default btn-flat" %></a>
                <% elsif admin_signed_in?%>
                <a><%= link_to "Edit Profile", edit_admin_registration_path, class: "btn btn-default btn-flat"  %></a>
                <% else %>
                <a><%= link_to "Register", new_user_registration_path , class: "btn btn-default btn-flat"%></a>
                <% end %>
            </div>
            <div class="pull-right">
                <% if user_signed_in? %>
                <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat" %></a>
                <% elsif admin_signed_in?%>
                <a><%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "btn btn-default btn-flat" %></a>
                <% else %>
                <a><%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-flat" %>
                </a>
                <% end %>
            </div>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <%= image_tag "img/avatar5.png", alt: "User Image", class: "img-circle" %>
                </div>
                <div class="pull-left info">
                    <p><% if user_signed_in? %>
                        <li><%= current_user.full_name %></li>                             
                        <% elsif admin_signed_in?%>
                        <li><%= current_admin.email %></li>
                        <% end %></p>

                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <%= form_tag search_input_path, :class => "sidebar-form", :method => 'post' do %>
                <div class="input-group">
                    <%= text_field_tag :search_input, nil, placeholder: "Search...", class: "form-control" %>
                    <span class="input-group-btn">
                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <% end %>
<!-- 
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form> -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="active" >
                        <a>
                           <div height="46px"><i class="fa fa-dashboard"></i><span ><%= link_to "My Booking"%></span></div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-th"></i><span><%= link_to "My Society", controller: "societies", action: "my_societies" %></span> 
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-th"></i> <span>Edit Profile</span> 
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-th"></i> <span>Register Society</span> 
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-th"></i> <span>Register Event</span> 
                        </a>
                    </li>
                    <li>
                        <a >
                            <i class="fa fa-th"></i> <span>Edit Society</span> \
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <%= yield %>
    </div><!-- ./wrapper -->


</body>
</html>

